.navbar-default .navbar-brand.navbar-home {
    display: block !important;
}

.device-container{
    position: fixed;
    line-height: 0;
    left: 0;
    top: 112px;
    width: 100%;
    height: calc(100% - 112px);
}

.components-container{
    position: initial;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #fcfcff;
}

.network-device ul{
    padding-left: 10px !important;
}

.network-device .ql-editor>strong{
    float: left !important;
    padding-left: 10px !important;
}

.network-device ul>li{
    padding-left: 15px !important;
}